<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			https://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context
			https://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.app"/>

<bean id="myc" class="com.app.model.Mycollection">


	<constructor-arg>
	<list>
	<value>java</value>
	<value>python</value>
	<value>C++</value>
	</list>
	</constructor-arg>

		<constructor-arg>
		<set>
		<value>spring</value>
		<value>Hibernate</value>
		</set>
		</constructor-arg>
		
			<constructor-arg>
			<map>
			<entry key="1" value="karvenager"></entry>
			<entry key="2" value="Akurdi"></entry>
			</map>
			</constructor-arg>

</bean>
	<!-- ... -->

</beans>